$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
$base2:     #eee8d5
$base3:     #fdf6e3
$yellow:    #b58900
$red:    #cb4b16
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900

$bodyBackground: $base3
$headingsColor: $base03
$textColor: $base02

@import "bootstrap-sass/lib/bootstrap"
@import "compass"
@import url(http://fonts.googleapis.com/css?family=Codystar)

$base-font-size: 18px
$base-line-height: 30px
+establish-baseline

body
  font-family: 'Codystar', cursive

h1 
  +adjust-font-size-to(30px)
  text-align: right
  letter-spacing: -1px
  border-bottom: 2px solid $red
  padding-right: 8px
  +leader(1, 30px)
  +trailer(1, 30px)

  a
    +unstyled-link

    &:hover
      +unstyled-link

section
  +padding-trailer(2, 30px)

  div.text
    background-color: $base2
    +box-sizing(border-box)
    height: 512px

    h2
      margin: 16px

footer
  border-top: 2px solid $red

  div.span3
    margin: 0 7px 0 7px
    text-align: center
    background-color: $base02
    color: $base2
    +adjust-font-size-to(20px)
    +adjust-leading-to(2, 20px)
    +leader(1, 20px)

    a
      +unstyled-link

    &:hover
      background-color: $red
      color: $base3

div.span6
  list-style-type: none

  div.span2
    margin: 6px 6px 6px 6px
    font-weight: 300
    text-align: center
    color: $base02
    background: $base2
    +adjust-font-size-to(24px)
    +adjust-leading-to(5, 24px)
  
div.span6:first-child
  div:nth-child(5)
    color: $base3
    background: $red

  div:nth-child(4n)
    background: $base3
    color: $base2

div.span6:last-child

  div:nth-child(1n)
    background: $base3
    color: $base2

  div:nth-child(4n+2)
    color: $base02
    background: $base2

  div:nth-child(9)
    color: $base3
    background: $red
