$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
// $base1_5:   #DCDACB
$base1_5:   #D0D0C4
$base2:     #eee8d5
$base3:     #fdf6e3
$yellow:    #b58900
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900

$bodyBackground: $base3
$headingsColor: $base03
$textColor: $base03

@import "bootstrap-sass/lib/bootstrap"
@import "compass"
@import url(http://fonts.googleapis.com/css?family=Abel|Codystar|Gudea)

$base-font-size: 18px
$base-line-height: 30px
+establish-baseline


$width: 960px
$view-height: 507px

body
  font-family: 'Codystar', cursive

h1, h2, h3, h4, h5, h6 
  font-weight: normal

h1 
  +adjust-font-size-to(30px)
  text-align: right
  letter-spacing: -1px
  border-bottom: 2px solid $red
  padding-right: 8px
  +leader(1, 30px)
  +trailer(1, 30px)

  a
    +unstyled-link

    &:hover
      +unstyled-link
      color: $red

.animate-enter
  +transition(s linear all)
  opacity: 0

.animate-enter.animate-enter-active
  opacity: 1

.animate-leave
  +transition(1s linear all)
  opacity: 0

.animate-leave.animate-leave-active
  opacity: 1

section
  position: relative
  +padding-trailer(2, 30px)
  height: $view-height
  
  &.row
    margin-left: 0px
    
  .text, .profile, .welcome
    font-family: 'Abel', sans-serif
    position: relative
    background-color: $base1
    +box-sizing(border-box)
    height: 500px
    margin-top: 6px
    margin-bottom: 6px

    h3
      font-family: 'Abel', sans-serif
      color: $base3
      +adjust-font-size-to(27px)
      padding: 5px 20px
      background-color: $base02

  .text
    padding: 20px
    margin-left: 6px
    margin-right: 6px 

    h3
      position: absolute
      top: 0
      left: 0
      margin: 0

    p
      margin-top: 30px
  
  .welcome
    position: absolute
    padding: 20px
    width: 620px
    height: 244px
    left: 152px
    top: 128px
    margin-left: 6px
    margin-right: 6px 

    h3
      position: absolute
      margin: 0
      left: 0
      bottom: 0

    p
      margin-top: 30px

    a
      font-family: 'Abel', sans-serif
      font-style: bold
      color: $base3
      +adjust-font-size-to(18px)
      position: absolute
      padding: 1px 10px 3px 10px
      top: 0
      right: 0
      color: $base3
      background-color: $base02 

      &:hover
        +unstyled-link
        background-color: $red
        color: $base3

    .welcome.false
      display: none

  .profile
    margin-right: 6px
    margin-left: 0px
    float: right

    .box
      width: width
      overflow: hidden
      height: 240px

    img
      position: relative
      top: -10px
      +filter(sepia(30%))

    &:hover
      img
        +filter(sepia(100%))

    h3
      position: absolute
      top: 195px

    p
      margin: 20px

    &:first-child
      margin-top: 35px


  .menu
    margin-right: 0px 
    margin-left: 0px
    
  .concepts
    margin-left: 0px

    &:nth-child(2)
      list-style-type: none
      float: right
      margin-right: 0px

  .span2, .menu_item
    font-weight: 300
    text-align: center
    +adjust-font-size-to(24px)
    color: $base1_5

    &.ranked
      color: $base02
      background: $base2

    &.live
      color: $base3
      background: $red
  
  .span2
    margin: 6px 6px 6px 6px
    +adjust-leading-to(5, 24px)

  .menu_item
    color: $base02
    background: $base2
    margin: 6px 5px 6px 5px
    +adjust-leading-to(4, 24px)

    &:hover
      color: $base3
      background: $red


footer
  border-top: 2px solid $red

  .span4
    margin: 0 5px  0 5px
    text-align: center
    background-color: $base03
    color: $base3
    +adjust-font-size-to(18px)
    +adjust-leading-to(2, 18px)
    +leader(1, 18px)

    &:nth-child(2)
      margin-left: 10px
    &:nth-child(3)
      float: right  

    a
      +unstyled-link

    &:hover
      background-color: $red
      color: $base3
