<concepts list="visionConcepts"></concepts>
<div class="text span6">
  <h3>Vision</h3>
  <p>
    Vestibulum ut egestas neque. Fusce vitae diam blandit, placerat mi sed, ullamcorper nisi. Suspendisse ac magna interdum lorem laoreet vehicula. Vestibulum lobortis et dui et suscipit. Curabitur eleifend ullamcorper nibh, ut hendrerit dui pretium sed. Ut ac nisl quam. Nunc non volutpat tortor. Phasellus pharetra, purus non lacinia blandit, velit justo egestas eros, et rutrum massa neque id leo. Aliquam dui nunc, tristique eu justo quis, imperdiet fringilla nunc. Vivamus varius, diam dapibus ultricies rutrum, enim lacus rhoncus arcu, eget consequat dui ligula id enim. Duis elit massa, malesuada quis interdum vitae, tincidunt ut velit. Ut porttitor semper metus, ac auctor nunc ultrices eget. Nam non dignissim velit. Integer molestie et urna in sollicitudin.
  </p><p>
</p></div>