---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23humanities&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WdNGSubF0BXcr7RWj0g2rQ", oauth_nonce="8f20b3b8bc9541bd2a4cf921d4c7268b",
        oauth_signature="WYJob5y%2BGdBa%2BBOiq%2FI5QRLzPYY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373264195", oauth_token="19046408-Js3XwKuciXFfqh7aDG05RBi104VDhaKLHmTUgpsAB",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 08 Jul 2013 06:16:34 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '142'
      X-Rate-Limit-Reset:
      - '1373264494'
      X-Transaction:
      - 2b499fd09b83efc5
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Mon
        Jul 08 06:05:15 +0000 2013","id":354118968186908672,"id_str":"354118968186908672","text":"Careers
        Symposium PM session @ #PTEM. #Humanities: #Law, #Politics &amp; #Journalism.
        Now on-going is\u2026 http:\/\/t.co\/OEYgybuRvn","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":160469131,"id_str":"160469131","name":"Fifi
        H. Hasman","screen_name":"FifiHHasman","location":"Brunei","description":"Indie
        music, feel-good films, mildly brewed tea, engaging books, travelling the
        world and writing what''s left of and lost in life. \u221e Infinite Playlist
        \u221e","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":553,"friends_count":480,"listed_count":4,"created_at":"Mon
        Jun 28 07:31:33 +0000 2010","favourites_count":322,"utc_offset":28800,"time_zone":"Singapore","geo_enabled":true,"verified":false,"statuses_count":12447,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/450360580\/422932_10150625251833160_785858159_9312541_2118260424_n.jpg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/450360580\/422932_10150625251833160_785858159_9312541_2118260424_n.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/2992203723\/ab016df23f0ddbdb25508b7dc5157ba6_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/2992203723\/ab016df23f0ddbdb25508b7dc5157ba6_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/160469131\/1361555120","profile_link_color":"3B3B3B","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"78849B","profile_text_color":"000000","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"PTEM","indices":[31,36]},{"text":"Humanities","indices":[38,49]},{"text":"Law","indices":[51,55]},{"text":"Politics","indices":[57,66]},{"text":"Journalism","indices":[73,84]}],"symbols":[],"urls":[{"url":"http:\/\/t.co\/OEYgybuRvn","expanded_url":"http:\/\/instagram.com\/p\/bfoIAKgLHX\/","display_url":"instagram.com\/p\/bfoIAKgLHX\/","indices":[103,125]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Mon
        Jul 08 04:14:19 +0000 2013","id":354091049653776384,"id_str":"354091049653776384","text":"1
        hour and 45 minutes before class..haha.. #humanities #artappreciation","source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eMobile Web (M2)\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":nu[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&max_id=353360620529258497&q=%23humanities&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WdNGSubF0BXcr7RWj0g2rQ", oauth_nonce="4525dcd96191f59880e6b89a2ddf3c61",
        oauth_signature="0dGfKA%2FA8JzeCbrBeilNnD3Ek%2FA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373264196", oauth_token="1904[...]
[...]
