---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23humanities&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WdNGSubF0BXcr7RWj0g2rQ", oauth_nonce="3070bc5a9780d4ceda5484a8b4337010",
        oauth_signature="IJ5DMny17UqfF1vtS5al1PEefxY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373186256", oauth_token="19046408-Js3XwKuciXFfqh7aDG05RBi104VDhaKLHmTUgpsAB",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 Jul 2013 08:37:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '148'
      X-Rate-Limit-Reset:
      - '1373186515'
      X-Transaction:
      - 4a272984808be4b1
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Sun
        Jul 07 08:03:57 +0000 2013","id":353786449486811139,"id_str":"353786449486811139","text":"Surprised
        how much I''m enjoying reading ''Jacob''s Room'' for @OxfordUNIQ #humanities","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":456083620,"id_str":"456083620","name":"Callum
        Rose","screen_name":"c_t_rose","location":"telford","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":69,"friends_count":212,"listed_count":0,"created_at":"Thu
        Jan 05 21:17:24 +0000 2012","favourites_count":25,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":395,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/1759735258\/image_normal.jpg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/1759735258\/image_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"humanities","indices":[71,82]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"OxfordUNIQ","name":"UNIQ","id":90850194,"id_str":"90850194","indices":[59,70]}]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Sun
        Jul 07 07:10:39 +0000 2013","id":353773036845015040,"id_str":"353773036845015040","text":"Review
        later. #Marketing #Humanities DAMNNN","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":932382282,"id_str":"932382282","name":"Nicole
       [...]
