<concepts list="pastConcepts"></concepts>
<concepts list="futureConcepts"></concepts>
<div class="welcome offset6 span6 {{ show }}">
  <a ng-click="show = !show">x</a>
  <h3>About</h3>
  <h4>This Site is under Heavy Construction</h4>
  <p>This page visualizes the current state of the humanities as well as one of its possible futures. The words on the left side represent the 11 concepts that were most tweeted about in combination with #humanities on the day that this site went live. The words on the right side are the ones that we want you to tweet about. The gray boxes indicate whether or not a concept is currently is in the top 20 of most discussed humanities concepts. Whenever one of the concepts on this page is tweeted about, its square will light up in red.</p>
</div>

